waitBeforeClosingChannels="2000"
aalSpaceSchemaURL="conf/etc/"
aalSpaceConfigurationPath="etc/"
aalSpaceSchemaName="aalspace.xsd"
aalSpaceValidation="false"
aalSpaceLifeTime="3"
spaceExtension="space"
service.pid="mw.managers.aalspacemanager.core"
waitAfterJoinRequest="3000"
controlChannel="controlChannel"
peerRole="COORDINATOR"
