mw.container.android-2.0.2-SNAPSHOT/.classpath
mw.container.android-2.0.2-SNAPSHOT/.project
mw.container.android-2.0.2-SNAPSHOT/.settings
mw.container.android-2.0.2-SNAPSHOT/bin
mw.container.android-2.0.2-SNAPSHOT/gen
mw.container.android-2.0.2-SNAPSHOT/target
