* text=auto !eol
mw.container.android-2.0.2-SNAPSHOT/ASL2.0.txt -text
mw.container.android-2.0.2-SNAPSHOT/AndroidManifest.xml -text
mw.container.android-2.0.2-SNAPSHOT/BSD-JSLP.txt -text
mw.container.android-2.0.2-SNAPSHOT/MITX.txt -text
mw.container.android-2.0.2-SNAPSHOT/NOTICE.txt -text
mw.container.android-2.0.2-SNAPSHOT/libs/jgroups-3.4.1.Final.jar -text
mw.container.android-2.0.2-SNAPSHOT/libs/jslp.core-2.0.1-SNAPSHOT.jar -text
mw.container.android-2.0.2-SNAPSHOT/libs/mw.bus.tracker.core-2.0.1-SNAPSHOT.jar -text
mw.container.android-2.0.2-SNAPSHOT/libs/mw.data.serialization.core-2.0.1-SNAPSHOT.jar -text
mw.container.android-2.0.2-SNAPSHOT/libs/mw.managers.aalspace.core-2.0.1-SNAPSHOT.jar -text
mw.container.android-2.0.2-SNAPSHOT/libs/mw.schemas-2.0.1-SNAPSHOT.jar -text
mw.container.android-2.0.2-SNAPSHOT/libs/ri.gateway.communicator.core-2.0.1-SNAPSHOT.jar -text
mw.container.android-2.0.2-SNAPSHOT/pom.xml -text
mw.container.android-2.0.2-SNAPSHOT/project.properties -text
mw.container.android-2.0.2-SNAPSHOT/res/drawable-hdpi/ic_launcher.png -text
mw.container.android-2.0.2-SNAPSHOT/res/drawable-mdpi/ic_launcher.png -text
mw.container.android-2.0.2-SNAPSHOT/res/drawable-xhdpi/ic_launcher.png -text
mw.container.android-2.0.2-SNAPSHOT/res/drawable-xxhdpi/ic_launcher.png -text
mw.container.android-2.0.2-SNAPSHOT/res/layout/main.xml -text
mw.container.android-2.0.2-SNAPSHOT/res/values/strings.xml -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/apache/xerces/jaxp/datatype/DatatypeFactoryImpl.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/apache/xerces/jaxp/datatype/DurationImpl.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/apache/xerces/jaxp/datatype/XMLGregorianCalendarImpl.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/apache/xerces/util/DatatypeMessageFormatter.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/activities/TestActivity.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/container/AndroidContainer.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/container/AndroidContext.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/container/AndroidRegistry.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/proxies/ContextPublisherProxy.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/proxies/ContextSubscriberProxy.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/proxies/ServiceCalleeProxy.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/proxies/ServiceCallerProxy.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/receivers/system/BootReceiver.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/receivers/system/PackageReceiver.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/receivers/system/WifiReceiver.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/services/MiddlewareService.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/services/OntologyService.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/services/ScanService.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/utils/GroundingParcel.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/utils/IntentConstants.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/utils/VariableSubstitution.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/wrappers/CommunicationConnectorWrapper.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/java/org/universAAL/android/wrappers/DiscoveryConnectorWrapper.java -text
mw.container.android-2.0.2-SNAPSHOT/src/main/resources/META-INF/device_description.xml -text
