* text=auto !eol
mw.container.android/ASL2.0.txt -text
mw.container.android/AndroidManifest.xml -text
mw.container.android/BSD-JSLP.txt -text
mw.container.android/MITX.txt -text
mw.container.android/NOTICE.txt -text
mw.container.android/libs/bcprov-jdk13-140.jar -text
mw.container.android/libs/jgroups-3.4.1.Final.jar -text
mw.container.android/libs/jslp.core-3.0.1-SNAPSHOT.jar -text
mw.container.android/libs/mw.bus.tracker.core-3.0.1-SNAPSHOT.jar -text
mw.container.android/libs/mw.data.serialization.core-3.0.1-SNAPSHOT.jar -text
mw.container.android/libs/mw.managers.aalspace.core-3.0.1-SNAPSHOT.jar -text
mw.container.android/libs/mw.schemas-3.0.1-SNAPSHOT.jar -text
mw.container.android/libs/ri.gateway.communicator.core-3.0.1-SNAPSHOT.jar -text
mw.container.android/pom.xml -text
mw.container.android/project.properties -text
mw.container.android/res/drawable-hdpi/ab_bottom_solid_uaal.9.png -text
mw.container.android/res/drawable-hdpi/ab_solid_uaal.9.png -text
mw.container.android/res/drawable-hdpi/ab_stacked_solid_uaal.9.png -text
mw.container.android/res/drawable-hdpi/ab_texture_tile_uaal.png -text
mw.container.android/res/drawable-hdpi/btn_cab_done_default_uaal.9.png -text
mw.container.android/res/drawable-hdpi/btn_cab_done_focused_uaal.9.png -text
mw.container.android/res/drawable-hdpi/btn_cab_done_pressed_uaal.9.png -text
mw.container.android/res/drawable-hdpi/cab_background_bottom_uaal.9.png -text
mw.container.android/res/drawable-hdpi/cab_background_top_uaal.9.png -text
mw.container.android/res/drawable-hdpi/ic_launcher.png -text
mw.container.android/res/drawable-hdpi/img_notfound.png -text
mw.container.android/res/drawable-hdpi/list_focused_uaal.9.png -text
mw.container.android/res/drawable-hdpi/list_pressed_uaal.9.png -text
mw.container.android/res/drawable-hdpi/menu_dropdown_panel_uaal.9.png -text
mw.container.android/res/drawable-hdpi/uaal_btn_default_disabled_focused_holo_light.9.png -text
mw.container.android/res/drawable-hdpi/uaal_btn_default_disabled_holo_light.9.png -text
mw.container.android/res/drawable-hdpi/uaal_btn_default_focused_holo_light.9.png -text
mw.container.android/res/drawable-hdpi/uaal_btn_default_normal_holo_light.9.png -text
mw.container.android/res/drawable-hdpi/uaal_btn_default_pressed_holo_light.9.png -text
mw.container.android/res/drawable-mdpi/ab_bottom_solid_uaal.9.png -text
mw.container.android/res/drawable-mdpi/ab_solid_uaal.9.png -text
mw.container.android/res/drawable-mdpi/ab_stacked_solid_uaal.9.png -text
mw.container.android/res/drawable-mdpi/ab_texture_tile_uaal.png -text
mw.container.android/res/drawable-mdpi/btn_cab_done_default_uaal.9.png -text
mw.container.android/res/drawable-mdpi/btn_cab_done_focused_uaal.9.png -text
mw.container.android/res/drawable-mdpi/btn_cab_done_pressed_uaal.9.png -text
mw.container.android/res/drawable-mdpi/cab_background_bottom_uaal.9.png -text
mw.container.android/res/drawable-mdpi/cab_background_top_uaal.9.png -text
mw.container.android/res/drawable-mdpi/ic_launcher.png -text
mw.container.android/res/drawable-mdpi/img_notfound.png -text
mw.container.android/res/drawable-mdpi/list_focused_uaal.9.png -text
mw.container.android/res/drawable-mdpi/list_pressed_uaal.9.png -text
mw.container.android/res/drawable-mdpi/menu_dropdown_panel_uaal.9.png -text
mw.container.android/res/drawable-mdpi/uaal_btn_default_disabled_focused_holo_light.9.png -text
mw.container.android/res/drawable-mdpi/uaal_btn_default_disabled_holo_light.9.png -text
mw.container.android/res/drawable-mdpi/uaal_btn_default_focused_holo_light.9.png -text
mw.container.android/res/drawable-mdpi/uaal_btn_default_normal_holo_light.9.png -text
mw.container.android/res/drawable-mdpi/uaal_btn_default_pressed_holo_light.9.png -text
mw.container.android/res/drawable-xhdpi/ab_bottom_solid_uaal.9.png -text
mw.container.android/res/drawable-xhdpi/ab_solid_uaal.9.png -text
mw.container.android/res/drawable-xhdpi/ab_stacked_solid_uaal.9.png -text
mw.container.android/res/drawable-xhdpi/ab_texture_tile_uaal.png -text
mw.container.android/res/drawable-xhdpi/btn_cab_done_default_uaal.9.png -text
mw.container.android/res/drawable-xhdpi/btn_cab_done_focused_uaal.9.png -text
mw.container.android/res/drawable-xhdpi/btn_cab_done_pressed_uaal.9.png -text
mw.container.android/res/drawable-xhdpi/cab_background_bottom_uaal.9.png -text
mw.container.android/res/drawable-xhdpi/cab_background_top_uaal.9.png -text
mw.container.android/res/drawable-xhdpi/ic_launcher.png -text
mw.container.android/res/drawable-xhdpi/img_notfound.png -text
mw.container.android/res/drawable-xhdpi/list_focused_uaal.9.png -text
mw.container.android/res/drawable-xhdpi/list_pressed_uaal.9.png -text
mw.container.android/res/drawable-xhdpi/menu_dropdown_panel_uaal.9.png -text
mw.container.android/res/drawable-xhdpi/uaal_btn_default_disabled_focused_holo_light.9.png -text
mw.container.android/res/drawable-xhdpi/uaal_btn_default_disabled_holo_light.9.png -text
mw.container.android/res/drawable-xhdpi/uaal_btn_default_focused_holo_light.9.png -text
mw.container.android/res/drawable-xhdpi/uaal_btn_default_normal_holo_light.9.png -text
mw.container.android/res/drawable-xhdpi/uaal_btn_default_pressed_holo_light.9.png -text
mw.container.android/res/drawable-xxhdpi/ab_bottom_solid_uaal.9.png -text
mw.container.android/res/drawable-xxhdpi/ab_solid_uaal.9.png -text
mw.container.android/res/drawable-xxhdpi/ab_stacked_solid_uaal.9.png -text
mw.container.android/res/drawable-xxhdpi/ab_texture_tile_uaal.png -text
mw.container.android/res/drawable-xxhdpi/btn_cab_done_default_uaal.9.png -text
mw.container.android/res/drawable-xxhdpi/btn_cab_done_focused_uaal.9.png -text
mw.container.android/res/drawable-xxhdpi/btn_cab_done_pressed_uaal.9.png -text
mw.container.android/res/drawable-xxhdpi/cab_background_bottom_uaal.9.png -text
mw.container.android/res/drawable-xxhdpi/cab_background_top_uaal.9.png -text
mw.container.android/res/drawable-xxhdpi/ic_launcher.png -text
mw.container.android/res/drawable-xxhdpi/img_notfound.png -text
mw.container.android/res/drawable-xxhdpi/list_focused_uaal.9.png -text
mw.container.android/res/drawable-xxhdpi/list_pressed_uaal.9.png -text
mw.container.android/res/drawable-xxhdpi/menu_dropdown_panel_uaal.9.png -text
mw.container.android/res/drawable-xxhdpi/uaal_btn_default_disabled_focused_holo_light.9.png -text
mw.container.android/res/drawable-xxhdpi/uaal_btn_default_disabled_holo_light.9.png -text
mw.container.android/res/drawable-xxhdpi/uaal_btn_default_focused_holo_light.9.png -text
mw.container.android/res/drawable-xxhdpi/uaal_btn_default_normal_holo_light.9.png -text
mw.container.android/res/drawable-xxhdpi/uaal_btn_default_pressed_holo_light.9.png -text
mw.container.android/res/drawable/ab_background_textured_uaal.xml -text
mw.container.android/res/drawable/btn_cab_done_uaal.xml -text
mw.container.android/res/drawable/selectable_background_uaal.xml -text
mw.container.android/res/drawable/uaal_btn_default_holo_light.xml -text
mw.container.android/res/layout-sw720dp-land/handler.xml -text
mw.container.android/res/layout/empty.xml -text
mw.container.android/res/layout/handler.xml -text
mw.container.android/res/layout/progress.xml -text
mw.container.android/res/values-sw600dp/dimens.xml -text
mw.container.android/res/values-sw720dp-land/dimens.xml -text
mw.container.android/res/values-sw720dp-land/flags.xml -text
mw.container.android/res/values-v11/themes_uaal.xml -text
mw.container.android/res/values-v14/themes_uaal.xml -text
mw.container.android/res/values/colors_uaal.xml -text
mw.container.android/res/values/dimens.xml -text
mw.container.android/res/values/flags.xml -text
mw.container.android/res/values/strings.xml -text
mw.container.android/res/values/themes_uaal.xml -text
mw.container.android/res/xml/menu.xml -text
mw.container.android/res/xml/settings.xml -text
mw.container.android/src/main/java/org/apache/xerces/jaxp/datatype/DatatypeFactoryImpl.java -text
mw.container.android/src/main/java/org/apache/xerces/jaxp/datatype/DurationImpl.java -text
mw.container.android/src/main/java/org/apache/xerces/jaxp/datatype/XMLGregorianCalendarImpl.java -text
mw.container.android/src/main/java/org/apache/xerces/util/DatatypeMessageFormatter.java -text
mw.container.android/src/main/java/org/universAAL/android/activities/HandlerActivity.java -text
mw.container.android/src/main/java/org/universAAL/android/activities/SettingsActivity.java -text
mw.container.android/src/main/java/org/universAAL/android/activities/package.html -text
mw.container.android/src/main/java/org/universAAL/android/container/AndroidContainer.java -text
mw.container.android/src/main/java/org/universAAL/android/container/AndroidContext.java -text
mw.container.android/src/main/java/org/universAAL/android/container/AndroidRegistry.java -text
mw.container.android/src/main/java/org/universAAL/android/container/package.html -text
mw.container.android/src/main/java/org/universAAL/android/handler/AndroidHandler.java -text
mw.container.android/src/main/java/org/universAAL/android/proxies/ContextPublisherProxy.java -text
mw.container.android/src/main/java/org/universAAL/android/proxies/ContextSubscriberProxy.java -text
mw.container.android/src/main/java/org/universAAL/android/proxies/ServiceCalleeProxy.java -text
mw.container.android/src/main/java/org/universAAL/android/proxies/ServiceCallerProxy.java -text
mw.container.android/src/main/java/org/universAAL/android/proxies/package.html -text
mw.container.android/src/main/java/org/universAAL/android/receivers/system/BootReceiver.java -text
mw.container.android/src/main/java/org/universAAL/android/receivers/system/PackageReceiver.java -text
mw.container.android/src/main/java/org/universAAL/android/receivers/system/WifiReceiver.java -text
mw.container.android/src/main/java/org/universAAL/android/receivers/system/package.html -text
mw.container.android/src/main/java/org/universAAL/android/services/MiddlewareService.java -text
mw.container.android/src/main/java/org/universAAL/android/services/OntologyService.java -text
mw.container.android/src/main/java/org/universAAL/android/services/ScanService.java -text
mw.container.android/src/main/java/org/universAAL/android/services/package.html -text
mw.container.android/src/main/java/org/universAAL/android/utils/GroundingParcel.java -text
mw.container.android/src/main/java/org/universAAL/android/utils/IntentConstants.java -text
mw.container.android/src/main/java/org/universAAL/android/utils/VariableSubstitution.java -text
mw.container.android/src/main/java/org/universAAL/android/utils/package.html -text
mw.container.android/src/main/java/org/universAAL/android/wrappers/CommunicationConnectorWrapper.java -text
mw.container.android/src/main/java/org/universAAL/android/wrappers/DiscoveryConnectorWrapper.java -text
mw.container.android/src/main/java/org/universAAL/android/wrappers/package.html -text
mw.container.android/src/main/resources/META-INF/device_description.xml -text
