slpInitDelayScan="0"
connectorName="SLP\ Connector"
browseSLPNetwork="true"
aalSpaceServiceType="service:aalspace"
connectorVersion="1.0"
connectorDescription="AAL\ Space\ Discovery\ Connector\ based\ on\ SLP\ protocol\ and\ jSLP\ implementation"
connectorProvider="ISTI-CNR"
slpPeriodScan="1"
service.bundleLocation="file:/sdcard/data/felix-conf-1.3.2/bundles/mw.connectors.discovery.slp.osgi_1.3.2.SNAPSHOT.jar"
service.pid="mw.connectors.discovery.slp.core"
sdpprtocol="slp"
