<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.universAAL.middleware.container.android"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- =================== ACTIVITY ======================= -->

        <activity android:name="org.universAAL.middleware.container.android.run.SodaPopActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="org.universAAL.middleware.container.android.run.AndroidContainerService"
            android:exported="false"
            android:label="@string/UPnPServiceDescription" >
        </service>

        <!-- =================== MODULES ======================= -->

        <receiver
            android:name="org.universAAL.middleware.android.modules.ModulesReceiver"
            android:enabled="true"
            android:exported="false" >

            <!--
      <intent-filter>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.INITIALIZE"/>
        <category android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.LOCAL_SODAPOP_CATEGORY"/>
      </intent-filter>
            -->
            <intent-filter>
                <action android:name="org.universAAL.middleware.android.common.StringConstants.INITIALIZE"/>
                <action android:name="org.universAAL.middleware.android.common.StringConstants.MODULE_COMM_ADD_LISTENER" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.MODULE_COMM_REM_LISTENER" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.MODULE_COMM_RECEIVED" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.MODULE_COMM_SENDALL" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.MODULE_COMM_SENDALL_L" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.MODULE_COMM_SENDALL_R" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.MODULE_COMM_SENDALL_RL" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.MODULE_COMM_SEND_R" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.MODULE_COMM_SEND_RL" />

                <category android:name="org.universAAL.middleware.android.common.StringConstants.MODULES_CATEGORY" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.universAAL.middleware.android.modules.ModulesService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- =================== CONNECTOR ======================= -->

        <!--
    The following receiver is related to the 'Conenctor Service' - the receiver will be activated once the device is booted!
    <receiver android:name="org.universAAL.middleware.container.android.run.UPnPSodaPopBootTimeReceiver" android:enabled="true" android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>
        -->

        <!-- TODO: shouldnt the names be actual strings? or the variable names? -->
        <receiver
            android:name="org.universAAL.middleware.android.connectors.ConnectorReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.universAAL.middleware.android.common.StringConstants.CONNECTOR_COMM_MULTICASTSOME" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.CONNECTOR_COMM_MULTICAST" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.CONNECTOR_COMM_UNICAST" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.CONNECTOR_DISC_ANNOUNCE" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.CONNECTOR_DISC_DEREGISTER" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.CONNECTOR_DISC_ADDLISTENER" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.CONNECTOR_DISC_REMLISTENER" />

                <category android:name="org.universAAL.middleware.android.common.StringConstants.CONNECTOR_CATEGORY" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.universAAL.middleware.android.connectors.ConnectorService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.universAAL.middleware.android.common.StringConstants.CONNECTOR_INITIALIZE" />
            </intent-filter>
        </service>

        <!-- =================== APKS UPDATES ======================= -->
        
        <!-- Listen to packages installations / uninstallations / modifications -->
        <receiver android:name="org.universAAL.middleware.android.updater.PackageModificationReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" >
                </action>
                <action android:name="android.intent.action.PACKAGE_REMOVED" >
                </action>
                <action android:name="android.intent.action.PACKAGE_REPLACED" >
                </action>
                <action android:name="android.intent.action.PACKAGE_INSTALL" >
                </action>

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- =================== SERVICE BUS ======================= -->

        <receiver
            android:name="org.universAAL.middleware.android.buses.servicebus.ServiceBusInitReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.universAAL.middleware.android.common.StringConstants.INITIALIZE"/>

                <category android:name="org.universAAL.middleware.android.common.StringConstants.MODULES_CATEGORY" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.universAAL.middleware.android.buses.servicebus.ServiceBusRegReceiver" >
            <intent-filter>
                <action android:name="org.universAAL.middleware.android.common.StringConstants.REGISTER" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.UNREGISTER" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.universAAL.middleware.android.buses.servicebus.ServiceBusService"
            android:enabled="true" />

        <!-- =================== CONTEXT BUS ======================= -->

        <receiver
            android:name="org.universAAL.middleware.android.buses.contextbus.ContextBusInitReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.universAAL.middleware.android.common.StringConstants.INITIALIZE"/>

                <category android:name="org.universAAL.middleware.android.common.StringConstants.MODULES_CATEGORY" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.universAAL.middleware.android.buses.contextbus.ContextBusRegReceiver" >
            <intent-filter>
                <action android:name="org.universAAL.middleware.android.common.StringConstants.REGISTER" />
                <action android:name="org.universAAL.middleware.android.common.StringConstants.UNREGISTER" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.universAAL.middleware.android.buses.contextbus.ContextBusService"
            android:enabled="true" />
    </application>

</manifest>