<?xml version="1.0" encoding="utf-8"?>
<!--
	Copyright 2011-2012 TSB, http://www.tsbtecnologias.es
	TSB - Tecnologías para la Salud y el Bienestar
	
	See the NOTICE file distributed with this work for additional 
	information regarding copyright ownership
	
	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at
	
	  http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.universaal.nativeandroid.aalfficiencyclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity 
            android:name=".AALfficiencyClientActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityScoreActivity" />
		<activity android:name=".ElectricScoreActivity" />
		<activity android:name=".TipsActivity" />
		<activity android:name=".TotalScoreActivity" />
		<activity android:name=".Challenge" />
		<service android:name=".service.AALfficiencyService">
           <meta-data android:name="org.universAAL.middleware.service.android.serviceRequestGrounding" 
                      android:resource="@raw/aalfficiency_client_service_request_grounding"/> 
       </service>
    </application>
</manifest>