<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.universAAL.middleware.android.sodapop" android:versionCode="1" android:versionName="0.0.1-SNAPSHOT">

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
	<!-- Enable to listen to boot event -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-sdk android:minSdkVersion="8"/>
    
  <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
    <activity android:name="org.universAAL.middleware.android.tests.SodaPopActivity">
      <intent-filter>
		<action android:name="android.intent.action.MAIN" />
		<category android:name="android.intent.category.LAUNCHER" />
	  </intent-filter>
    </activity>
    
    <!-- ************************************************************************************************** -->
    									<!-- Local Soda Pop -->
    
    <!-- The following receiver is related to the 'Local SodaPop Peer' -->
    <receiver android:name="org.universAAL.middleware.android.localsodapop.service.LocalSodaPopBroadCastReceiver" android:enabled="true" android:exported="false">
      <intent-filter>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.INITIALIZE"/>
        <category android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.LOCAL_SODAPOP_CATEGORY"/>
      </intent-filter>
      <intent-filter>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.NOTICE_JOINING_PEER"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.NOTICE_LEAVING_PEER"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.NOTICE_PEER_BUSSES"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.REPLY_PEER_BUSSES"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.NOTICE_JOINING_BUS"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.NOTICE_LEAVING_BUS"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.PROCESS_BUS_MESSAGE"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.PRINT_STATUS"/>
        <category android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.UPNP_SODAPOP_CATEGORY"/>
      </intent-filter>
      
    </receiver>
    
    <!-- The following service is related to the 'Local SodaPop Peer' -->
    <service android:name="org.universAAL.middleware.android.localsodapop.service.LocalSodaPopPeerService" android:enabled="true"/>
    
    
    <!-- ************************************************************************************************** -->
    									<!-- UPnP -->
    
    <!-- The following receiver is related to the 'UPnP Service' - the receiver will be activated once the device is booted!-->
    <receiver android:name="org.universAAL.middleware.android.upnp.service.UPnPSodaPopBootTimeReceiver" android:enabled="true" android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>
    
    <!-- The following receiver is related to the 'UPnP Service' -->
    <receiver android:name="org.universAAL.middleware.android.upnp.service.UPnPSodaPopBroadcastReceiver" android:enabled="true" android:exported="false">
      <intent-filter>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.NOTICE_JOINING_PEER"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.NOTICE_LEAVING_PEER"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.NOTICE_PEER_BUSSES"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.REPLY_PEER_BUSSES"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.NOTICE_JOINING_BUS"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.NOTICE_LEAVING_BUS"/>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.PROPAGATE_MESSAGE"/>
        <category android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.LOCAL_SODAPOP_CATEGORY"/>
      </intent-filter>
    </receiver>
    
    <!-- The following service is related to the 'UPnP Service' -->
    <service android:name="org.universAAL.middleware.android.upnp.service.UPnPSodaPopPeersService" android:enabled="true"/>
        
   
    <!-- ************************************************************************************************** -->
    									<!-- Common in between buses -->
    
    <!-- Listen to packages installations / uninstallations / modifications -->
    <receiver android:name="org.universAAL.middleware.android.common.buses.service.PackageModificationReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.PACKAGE_ADDED" >
            </action>
            <action android:name="android.intent.action.PACKAGE_REMOVED" >
            </action>
            <action android:name="android.intent.action.PACKAGE_REPLACED" >
            </action>
            <action android:name="android.intent.action.PACKAGE_INSTALL" >
            </action>

            <data android:scheme="package" />
        </intent-filter>
    </receiver>
    

    <!-- ************************************************************************************************** -->
    									<!-- ServiceBus -->
    									
    <receiver android:name="org.universAAL.middleware.android.buses.servicebus.service.InitializeServiceBusBroadCastReceiver" android:enabled="true" android:exported="false">
      <intent-filter>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.INITIALIZE"/>
        <category android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.LOCAL_SODAPOP_CATEGORY"/>
      </intent-filter>
    </receiver>
    
    <receiver android:name="org.universAAL.middleware.android.buses.servicebus.service.RegisterUnregisterServiceBusReceiver" >
        <intent-filter>
        	<action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.REGISTER"/>
        	<action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.UNREGISTER"/>
      </intent-filter>
    </receiver>
    
    <service android:name="org.universAAL.middleware.android.buses.servicebus.service.AndroidServiceBusService" android:enabled="true"/>
    
    
     <!-- ************************************************************************************************** -->
    									<!-- ContextBus -->
    
    <receiver android:name="org.universAAL.middleware.android.buses.contextbus.service.InitializeContextBusBroadCastReceiver" android:enabled="true" android:exported="false">
      <intent-filter>
        <action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.INITIALIZE"/>
        <category android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.LOCAL_SODAPOP_CATEGORY"/>
      </intent-filter>
    </receiver>
    
    <receiver android:name="org.universAAL.middleware.android.buses.contextbus.service.RegisterUnregisterContextBusReceiver" >
        <intent-filter>
        	<action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.REGISTER"/>
        	<action android:name="org.universAAL.middleware.android.common.IAndroidSodaPop.UNREGISTER"/>
      </intent-filter>
    </receiver>
    
    <service android:name="org.universAAL.middleware.android.buses.contextbus.service.AndroidContextBusService" android:enabled="true"/>
	
    </application>

</manifest>

