waitBeforeClosingChannels="2000"
aalSpaceSchemaURL="/mnt/sdcard/data/felix-conf-1.3.2/conf/etc"
aalSpaceConfigurationPath="/mnt/sdcard/data/felix-conf-1.3.2/conf/etc"
aalSpaceSchemaName="aalspace.xsd"
aalSpaceValidation="false"
aalSpaceLifeTime="3"
spaceExtension="space"
service.bundleLocation="file:/sdcard/data/felix-conf-1.3.2/bundles/mw.managers.aalspace.osgi_1.3.2.SNAPSHOT.jar"
service.pid="mw.managers.aalspace.core"
waitAfterJoinRequest="30000"
peerRole="COORDINATOR"
